.body
{
  background-color: #0BAE90;

}

.wrapper
{
  text-align: center;

}
#bmi-heading
{
  margin-top: 5%;
  font-family: 'Lobster', cursive;
}
#jumbo
{
  padding-top: 20px !important;
    text-align: center;
    height:400px !important;
    font-family: 'Girassol', cursive;
    width: 50%;
}


.foo
{
  text-align: center;
  font-family: 'Lobster', cursive;
  color: black;
}
