.body
{
  background-color: #95A2A0;

}

.wrapper
{
  text-align: center;

}
h3
{
  font-family: 'Lobster', cursive;
}
#jumbo
{
  padding-top: 20px !important;
    text-align: center;
    height:400px !important;
    font-family: 'Girassol', cursive;
}


.foo
{
  text-align: center;
  font-family: 'Lobster', cursive;
}
